.header {
  background-color: #3f4e4e;
}

.header__wrapper {
  font-size: 16px;
  font-weight: 700;
  color: white;
  text-align: center;
  max-width: 1024px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  height: 44px;
  align-items: center;
  padding-left: 21px;
  padding-right: 14px;
}

.header__elements {
  display: flex;
}

.header__elements li {
  padding-left: 4px;
}

.header__time {
  padding-left: 15px;
}
