.login {
  display: flex;
  flex-direction: column;
  background-color: #4f6262;
}

.login__header {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  margin: auto;
  padding: 20px;
  padding-top: 32px;
  color: white;
  align-items: center;
  margin-bottom: -35px;
}

.login__title {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.005em;
}

.login__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.005em;
}

.login__enter {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 504px;
  padding: 20px;
  padding-top: 29px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

fieldset {
  text-align: start;
  display: flex;
  flex-direction: column;
}

.login__form--name {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.005em;
  margin-bottom: 10px;
}

.login__form--title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.005em;
  margin-bottom: 64px;
}

.login__form--wrapper {
  border: 1px solid #f9f9f9;
  border-radius: 6px;
  margin-bottom: 10px;
}

.login__form--wrapper label {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.login__form--wrapper input {
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #a9a9a9;
}

.login__form--new {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 110px;
}

.login__form--wrapper {
  display: flex;
  justify-content: space-between;
}

.login__form--nouser {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.005em;
}

.login__form--reg {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  text-align: right;
  letter-spacing: -0.005em;
  color: #4f6262;
}

.button {
  width: 100%;
  border: none;
  background-color: #4f6262;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
}

.login__lose {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #a9a9a9;
  text-decoration: none;
  margin-top: 25px;
}
